<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Tree</title>
    <link rel="stylesheet" href="../../styles/output.css" />
    <link rel="stylesheet" href="../../styles/other.css" />
  </head>
  <body>
    <div class="relative w-full h-screen bg-white">
      <div class="absolute left-0 top-0 w-[300px] bg-[#435659] min-h-screen miniBg"></div>

      <div class="relative flex w-[800px] ml-[170px] pt-32 gap-8 profileBox">
        <div class="w-72 h-[400px] relative">
          <img src="../../../assets/images/brother/brother1.jpg" alt="" class="w-full h-full" />
        </div>
        <div class="flex flex-col flex-1">
          <div class="text-3xl text-black font-Inter-Bold">
            <div>David Mark</div>
            <div>Sapin</div>
          </div>

          <div class="mt-6 text-lg text-black font-Inter-Reg">You can call me Dave</div>
          <div class="mt-3 text-lg text-black font-Inter-Light">
            Welcome to our family website! As the youngest member of our family, I've been enjoying
            the art of chilling since my early days. Born on September 14, 2010 I bring a laid-back
            vibe to our household, embracing each moment with a relaxed attitude. I look forward to
            sharing my easygoing perspective and adding a touch of coolness to our family's digital
            space.
          </div>

          <div class="flex items-end flex-1">
            <a href="../index.html#sister" class="py-[3px] px-7 bg-[#8E4147] text-white rounded-md"
              >Back</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
