<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Tree</title>
    <link rel="stylesheet" href="../../styles/output.css" />
    <link rel="stylesheet" href="../../styles/other.css" />
  </head>
  <body>
    <div class="relative w-full h-screen bg-white">
      <div class="absolute left-0 top-0 w-[300px] bg-[#435659] min-h-screen miniBg"></div>

      <div class="relative flex w-[800px] ml-[170px] pt-32 gap-8 profileBox">
        <div class="w-72 h-[380px] relative">
          <img src="../../../assets/images/mother/mother1.jpg" alt="" class="w-full h-full" />
        </div>
        <div class="flex flex-col flex-1">
          <div class="text-3xl text-black font-Inter-Bold">
            <div>Marites</div>
            <div>Sapin</div>
          </div>

          <div class="mt-6 text-lg text-black font-Inter-Reg">
            You can
            <div class="card">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Content</p>
              </div>
              <div class="card-footer">Footer</div>
            </div>
            me tita Tet
          </div>
          <div class="mt-5 text-lg text-black font-Inter-Light">
            Welcome to our family website! As the mother in our household, born on May 03, 1982,
            I've dedicated myself to the role of homemaker, finding fulfillment in caring for our
            children and creating a nurturing environment for our family. I'm excited to share the
            joys, challenges, and love that come with being a mother as we journey together through
            life's adventures.
          </div>

          <div class="flex items-end flex-1">
            <a href="../index.html#mother" class="py-[3px] px-7 bg-[#8E4147] text-white rounded-md"
              >Back</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
