<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Tree</title>
    <link rel="stylesheet" href="../../styles/output.css" />
    <link rel="stylesheet" href="../../styles/other.css" />
  </head>
  <body>
    <div class="relative w-full h-screen bg-white">
      <div class="absolute left-0 top-0 w-[300px] bg-[#435659] min-h-screen miniBg"></div>

      <div class="relative flex w-[800px] ml-[170px] pt-32 gap-8 profileBox">
        <div class="w-72 h-[400px] relative">
          <img src="../../../assets/images/sister/sister1.jpg" alt="" class="w-full h-full" />
        </div>
        <div class="flex flex-col flex-1">
          <div class="text-3xl text-black font-Inter-Bold">
            <div>Cherry Mae</div>
            <div>Sapin</div>
          </div>

          <div class="mt-6 text-lg text-black font-Inter-Reg">You can call me Cher</div>
          <div class="mt-3 text-lg text-black font-Inter-Light">
            Welcome to our family website! As the sister in our family, I'm fueled by my passion for
            singing and driven by academic excellence. Born on November 25, 2008, I find immense joy
            in harmonizing melodies and achieving success in my studies. I'm excited to share my
            musical journey, academic achievements, and the warmth of our family bonds with you all
            as we navigate through life's melodies together.
          </div>

          <div class="flex items-end flex-1">
            <a href="../index.html#sister" class="py-[3px] px-7 bg-[#8E4147] text-white rounded-md"
              >Back</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
