@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter-Black';
    src: url('../../assets/fonts/Inter/Inter-Black.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter-Medium';
    src: url('../../assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter-Bold';
    src: url('../../assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter-Extra-Light';
    src: url('../../assets/fonts/Inter/Inter-ExtraLight.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Rubik';
    src: url('../../assets/fonts/Rubik/Rubik-Bold.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'InkFree';
    src: url('../../assets/fonts/Ink-Free/InkFree.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Neuton';
    src: url('../../assets/fonts/Neuton/Neuton-Bold.ttf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'TT Marxiana';
    src: url('../../assets/fonts/TTMarxiana/TTMarxiana-Grotesque.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter-Reg';
    src: url('../../assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter-Light';
    src: url('../../assets/fonts/Inter/Inter-Light.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'TT Firs Neue-Bold';
    src: url('../../assets/fonts/TTFirs/TT\ Firs\ Neue\ Trial\ Bold.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'TT Firs Neue-Demi-Bold';
    src: url('../../assets/fonts/TTFirs/TT\ Firs\ Neue\ Trial\ DemiBold.ttf') format('truetype');
    font-weight: 400;
  }
}

.font-Marxiana {
  font-family: 'TT Marxiana', sans-serif;
}

.font-Inter-Black {
  font-family: 'Inter-Black', sans-serif;
}

.font-Inter-Bold {
  font-family: 'Inter-Bold', sans-serif;
}

.font-Inter-Medium {
  font-family: 'Inter-Medium', sans-serif;
}

.font-Extra-Light {
  font-family: 'Inter-Extra-Light', sans-serif;
}

.font-Inter-Reg {
  font-family: 'Inter-Reg', sans-serif;
}

.font-Inter-Light {
  font-family: 'Inter-Light', sans-serif;
}

.font-TTFirs-Bold {
  font-family: 'TT Firs Neue-Bold', sans-serif;
}

.font-TTFirs-Demi-Bold {
  font-family: 'TT Firs Neue-Demi-Bold', sans-serif;
}
