.line-width {
  width: calc((25% / 2) + 3px);
}

.rotator > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 5px;
  overflow: hidden;
}

.horizontal > div > img {
  transition: transform 800ms ease-in-out;
}

.horizontal > div:hover > img {
  transform: scale(1.2);
}

.render {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #fff;
  inset: 0;
  z-index: 1000;
  animation: render 1s forwards;
}

@keyframes render {
  to {
    display: none;
  }
}

.diagramMainBoxFirst,
.diagramMainBoxLeft,
.diagramMainBoxRight {
  border-radius: 1rem;
  border-right: 10px solid #5790c6;
}

.pin {
  top: -35px;
  left: 20px;
}

.pin2 {
  top: -35px;
  left: 20px;
}

.profileBox {
  opacity: 0;
  animation: scaleUp 1600ms ease-in-out forwards;
  animation-delay: 1600ms;
}

@keyframes scaleUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.miniBg {
  width: 0;
  animation: reWidth 1500ms ease-in-out forwards;
}

@keyframes reWidth {
  to {
    width: 300px;
  }
}
