.line-width {
  width: calc((25% / 2) + 3px);
}

.rotator > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 5px;
}
